.about{
    .container{
        display: flex;
        gap:24px;
    }
    .about_text{
        max-width: 555px;
        color: #fff;
    }
    .about_img{
        width: 550px;
        height: 581px;
    }
    
}    