
.advantages{
    position: static;
}
.advantage {
    text-align: center;
}
.advantage_img-box{
    @include flex-centered;
    width: 113px;
    height: 113px;
    border: 1px solid #6C7188;
    margin: 0 auto 22px;
    border-radius: 50%;
    
    position: relative;
}
.advantage_img-box:before{
    content: "";
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background-color: $secondary-color;
    z-index: -1;
}
.advantage-title{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.advantages.swiper-horizontal>.swiper-pagination-bullets,
.advantages.swiper-pagination-bullets.swiper-pagination-horizontal {
        top: calc(100% - 59px);
    } 