.calculation{
    .template-title{
        padding-bottom: 52px;
    }
    .container{
        position: relative;
    }
}
.calculation-form {
    max-width: 626px;
    background: #363A4D ;
    border-radius: 20px;
    padding: 50px 50px 60px;
    font-size: 15px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 30px;
    margin-bottom: 34px;

    &:last-of-type {
        margin-bottom: 24px;
    }
}

.form-colum {
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.calculation-img {
    position: absolute;
    bottom: -100px;
    left:612px;
    
}
