.cooperation{
    .container{
    display: flex;
    gap: 52px;
    flex-wrap: wrap;
        
    }
    .inform-text{
        width: calc(50% - 28px);
        font-size: 17px;
        font-weight: 300;
        line-height: 191%;
        text-align: center;
        
    }

}
