.cooperation{
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        
    }
    .inform-text{
        display: flex;
        gap: 56px;
        flex-wrap: wrap;
    }
    

    
    
}
