.swiper-banner {
    width: 100%;
    max-width: 1820px;

    .swiper-slide {
        min-height: calc(100vh - var(--header-height));
        background-color: $bg-color-accent;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-items: center;
        
        
        .container {
            padding-top: 163px;
            padding-bottom: 73px;
        }
    }
    
    .swiper-banner-arrow {
        --pading: 20px;
        height: 0;
        position: absolute;
        top: calc(50% - 23px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: calc(1503px + var(--pading) *2);
        padding: 0 calc(var(--pading) *2);
        z-index: 1;
        display: flex;
        justify-content: space-between;

    }

    
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: calc(100% - 59px);
}
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
    max-width: 515px;
    margin-bottom: 10px;
    line-height: 1.26;
}

.banner-discription {
    font-size: 20px;
    font-weight: 300;
    max-width: 340px;
    margin-bottom: 37px;
    line-height: 1.35;
}

