*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    font-family: "ProximaNova";
    background-color: black;
    background-color: $bg-color;
    color: $color;
    line-height: 1.3;

}
section{
    margin-bottom: $section-margin;
}


h1,h2,h3,h4,h5,h6{
    font-weight: 700;

}
h1 {
    font-size:56px ;
    line-height: 1.26;

}
h2 {
    font-size:36px ;
    line-height: 1.245;
}
h3 {
    font-size:22px ;
    line-height: 1.245;
}
h4 {
    font-size:20px ;
    line-height: 1.355;
}
h5 {
    font-size: 18px ;
    line-height: 1.245;
}
h6 {
    font-size: 17px ;
    line-height: 1.26;
}
select{
    display: none;
}
label {
    cursor: pointer;
    margin-bottom: 6px;
    letter-spacing: 0.1px;
}

input {
    background-color: #fff;
    font-size: 15px;
    border-radius: 10px;
    padding: 18px 20px;
    border: none;
    transition: .3s;
    color: #282B38;
    
    &:focus-visible{
        outline: none;
        
    }

    &:hover{
        box-shadow:0px 0px 4px 2px #E58D35aa;
    }

    &:focus{
        box-shadow:0px 0px 4px 2px #89C249aa;
        
    }
    &:active{
    box-shadow:0px 0px 5px 2px #89C249;
    }

    &[type="file"]{
        display: none;

        +label {
            text-align: center;
            padding: 12px 12px;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' eight='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23fff' stroke-width='2' stroke-dasharray='3px%2c 6px' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
            
            background-size: calc(100% - 1px) calc(100% - 1px);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
            margin-bottom: 2px;
            &:hover {
                background-image: url("data:image/svg+xml,%3csvg width='100%25' eight='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='2' stroke-dasharray='3px%2c 6px' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");

            }
        }
    }
    &::placeholder{
        color: #CBCBCB;
    }


}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type='checkbox'] {
    display: none;

    +label {
        padding: 6px 0 0 32px;



        &:hover {
            &:before {
                border-color: #E58D35;
            }
        }
    }
}

input[type='checkbox']+label:before {
    content: "";
    background-color: #ffffff;
    border: 1px solid #282B38;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

input[type='checkbox']:checked+label:before {
    content: "";
    background: url(../assets/img/icon-checked.png) center no-repeat #fff;

}
.input-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input-box_checkbox {
    padding-left: 1px;
    padding-top: 1px;
    margin-bottom: -13px;
    &:first-child{
        margin-top: 8px;
    
    }
}
.file-name {
    margin-bottom: 13px;
}

.bg-accent{
    position: relative;
    padding: 90px 0 100px;
    .container{
        max-width: 1364px;
        padding-left: 100px;
        padding-right: 100px;
    }
    &:before{
    content: "";
    position: absolute;
    inset: 0 50px ;
    background-color: $bg-color-accent;
    max-width: 1820px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    z-index: -1;
    }
}
.fw-300{
    font-weight: 300;

}
.fw-400{
font-weight: 400;
}
.fw-600{
font-weight: 600;
    }
.fw-700{
font-weight: 700;
}
.btn{
    font-size: 15px;
    border-radius: 90px;
    background-color: $primary-color;
    color: $color;
    border-color: $primary-color;
    padding: 12px 27px;
    &:hover{
        background-color: transparent;
        border-color: $primary-color;
    }
    &.btn-sm{
        padding: 12px 18px;
    
    }
    &.btn-lg{
        font-size: 16px;
        padding: 19px 21px 19px 33px;
        img{
            margin-left: 48px;
        }
    }
    &.btn-secondary{
        background-color: transparent;
        &:hover{
            background-color: $primary-color;
        }
    }

}
.template-title{
    text-align: center;
    position: relative;
    padding-bottom: 70px;
    h2 {
        text-transform: uppercase;
            &::after{
            content: "";
            position: absolute;
            width: 85px;
            height: 2px;
            background-color: #E58D35;
            bottom: 54px;
            left: 50%;
            transform: translateX(-50%);
        }

    }

    h3{
        font-weight: 400;
        font-size: 24px;
    }
    &.template-title_case-2{
        text-align: left;
        h2{
            &::after{
                left: 0;
                transform: none;
            }
        }
    }
    &.template-title_case-3{
        text-align: left;
        max-width: 626px;

        h2{
            &::after{
                position: static;
                display: inline-block;
                transform: none;
                margin: 0px 0 -3px -2px
                // margin: 0 0 8px 20px;
            }

        }

    }
}

.nice-select{
    color: #282B38;
    height: 55px;
    border-radius: 10px;
    font-size: 15px;
    line-height: 52px;
    .list{
        margin-bottom: 0;
    }
}
.nice-select-dropdown{
    width: 100%;
}

.nice-select .option:hover, 
.nice-select .option.focus, 
.nice-select .option.selected.focus {
    background-color: #89C249;
}

.nice-select:after {
    border-bottom: none;
    border-right: none;
    height: 15px;
    width: 15px;
    right: 15px;
    background: url(../assets/img/Vector\ 134.png) center  6px /15px no-repeat ;
    transform: rotate(0);
    margin-top: -9px;
    
}
.nice-select.open:after {
    transform: rotate(-180deg);
    margin-top: -10px;
    right: 20px;
}



