///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$bg-color-accent:#363A4D;
$bg-color:#282b38;
$color:#fff;


$section-margin:100px;
$section-margin-mobile:60px;


@mixin title-line {
    content: "";
    position: absolute;
    width: 85px;
    height: 2px;
    background-color: $primary-color ;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
}

