///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #E58D35;
$secondary-color: #89C249;
$bg-color-accent:#363A4D;
$bg-color:#282b38;
$color:#fff;


$section-margin:100px;
$section-margin-mobile:60px;


@mixin title-line {
    content: "";
    position: absolute;
    width: 85px;
    height: 2px;
    background-color: $primary-color ;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
}
@mixin swiper-arrow-container {
    content: "";
    --pading: 20px;
    height: 0;
    position: absolute;
    top: calc(50% - 23px);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(1503px + var(--pading) *2);
    padding: 0 calc(var(--pading) *2);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}


@mixin flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}