<section class="advantages bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="advantages" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    1
                </div>
                <div class="swiper-slide">
                    2
                </div>
                <div class="swiper-slide">
                    3
                </div>
                <div class="swiper-slide">
                    4
                </div>
                <div class="swiper-slide">
                    5
                </div>
                <div class="swiper-slide">
                    6
                </div>
                <div class="swiper-slide">
                    7
                </div>
                <div class="swiper-slide">
                    8
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>