<section class="advantages bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div id="advantages" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages2.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Таможенное оформление груза</h6>
                    </div>
                    
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages 1.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Страховка груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages 3.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Проверка товара на брак</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages 4.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Доставка в любой город Украины</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages 5.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Доставка в любой город Украины</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages 6.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Ответственное хранение груза</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages 7.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Помощь в оплате товара</h6>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="../assets/img/advantages 8.svg" class="advantag_img">
                        </div>
                        <h6 class="advantage-title">Упаковка, переупаковка, паллетирование груза</h6>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>