<section class="footer">
	<div class="container">
		<div class="footer-line">
			
		</div>
		<div class="footer-row">
			<address id="contacts">
				<img src="../assets/img/logo-footer.png" alt="logo">
				<p class="contacts">
					<a href="tel:+380697804475">+38(069)7804475</a>
				</p>
				<p class="contacts">
				<a href="info@cargoasia.info">info@cargoasia.info</a>
				</p>
				<p>Адрес в Китае:"</p>
				<span>浙江省金华市义乌市后宅街道洪华小区5 栋一单元一楼RT789库房 高建军 电话15966660379</span>
			</address>
			<nav>
				<div class="Cargo-transportation">
					<h3>Cargo transportation</h3>
					<a href="#delivery">
						<p>Цены и сроки</p>
					</a>
					<a href="#services">
						<p>Услуги</p>
					</a>
					<a href="#about">
						<p>О компании</p>
					</a>
					<a href="#contacts">
						<p>Контакты</p>
					</a>
					<a href="#calculation">
						<p>Оформить груз</p>
					</a>
				</div>
				<div class="Cargo-transportation">
					<h3>Services</h3>
					<a href="#">
						<p>Выкуп товара</p>
					</a>
					<a href="#">
						<p>Страховка груза</p>
					</a>
					<a href="#">
						<p>Аренда склада</p>
					</a>
					<a href="#">
						<p>Перевод денежных средст</p>
					</a>
				</div>
				<div class="Cargo-transportation">
					<h3>Информация</h3>
					<a href="#">
						<p>Отзывы</p>
					</a>
					<a href="#">
						<p>Требования к грузу</p>
					</a>
					<a href="#">
						<p>Договор-оферта</p>
					</a>
					<a href="#">
						<p>Способы оплаты услуг</p>
					</a>
					<a href="#">
						<p>Документы</p>
					</a>
					<a href="#">
						<p>Статьи</p>
					</a>
				</div>

			</nav>
		</div>
	</div>

	
		
</section>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/swiper-bundle.min.js"></script>
<script src="../assets/js/nice-select2.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>